{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Confirm Deletion</h5>
                </div>
                <div class="card-body">
                    <p>Are you sure you want to delete Matumizi with Date: {{ matumizi.date }}?</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger mr-2 col-md-5">Yes, Delete</button>
                        <a href="{% url 'matumizi-list' %}" class="btn btn-secondary col-md-5">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
