{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Delete Member Transaction</title>
</head>

<body>
    {% if user.is_authenticated and user.is_staff and user.is_mhazini_tawi %}
    <div class="container">
        <h1>Delete Member Transaction</h1>
        <p>Are you sure you want to delete the transaction for user: <strong>{{ transaction.member }}?</strong> </p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'transaction-list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
    {% else %}
    <div class="container mt-5 col-md-4 text-center">
        <div class="alert alert-danger" role="alert">
            You do not have permission to this page.
        </div>
    </div>
    {% endif %}

</body>

</html>

{% endblock content %}