{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Login</h2>
          </div>
          <div class="card-body">
            <form method="post" class="form">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary btn-block mt-3">Login</button>
            </form>
            <div class="mt-3">
              <div class="row">
                <div class="col">
                  <p class="text-left">Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
                </div>
                <div class="col">
                  <p class="text-right float-end"><a href="{% url 'password_reset' %}" style="text-decoration: none;">Forgot Password?</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
