{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    {% if profile %}
        {% if user.is_authenticated and user.is_staff and user.is_mhazini_tawi %}
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <img src="{{ profile.image.url }}" class="rounded-circle" alt="Profile Image" style="width: 200px; height: 200px;">
                        <h3 class="card-title">{{ profile.displayname }}</h3>
                        <p class="card-text"><strong></strong> {{ profile.carrier }}</p>
                    </div>
                </div>
                <a href="{% url 'profile-list' %}" class="btn btn-secondary mt-2 col-md-12"> <i class="fas fa-arrow-left" style="font-weight: bold;"></i> Back to Profiles</a>
            </div>
        </div>
        {% else %}
        <div class="container mt-5 col-md-4 text-center">
            <div class="alert alert-danger" role="alert">
                You do not have permission to view this page.
            </div>
        </div>
        {% endif %}
    {% else %}
    <div class="container mt-5 col-md-4 text-center">
        <div class="alert alert-danger" role="alert">
            Profile not found.
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
