{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Create Member Transaction</title>
</head>
<style>
    .h-malipo {
        font-size: 20px;
        padding-top: 10px;
    }
</style>
<body>
    {% if user.is_authenticated and user.is_staff and user.is_mhazini_karismatiki %}
        <div class="container col-md-8">
            <p class="h-malipo mt-3">Hifadhi malipo ya Mwanachama KARISMATIKI</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    {% else %}
        <div class="container">
            <h2 class="mt-5 text-center">Access Denied. You must be logged in as staff with appropriate permissions.</h2>
        </div>
    {% endif %}
</body>

</html>

{% endblock content %}
