{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated and user.is_staff %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Create Committee Member</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-block">Create a Leader</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container mt-5 col-md-4 text-center">
    <div class="alert alert-danger" role="alert">
        You do not have permission to access this page to add Leaders.
    </div>
</div>
{% endif %}
{% endblock content %}
