{% extends 'base.html' %}
{% block content%}
  <style>
    body {
      background-color: #f8f9fa;
    }
    .container {
      margin-top: 50px;
    }
    .timeline-item {
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      margin-bottom: 30px;
    }
    .timeline-date {
      font-size: 18px;
      font-weight: bold;
    }
    .timeline-content {
      margin-top: 20px;
    }
    .timeline-content h3 {
      color: #007bff;
    }
    .timeline-content p {
      font-size: 16px;
    }
  </style>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      
      <!-- Timeline Item 1 -->
      <div class="timeline-item">
        <h3 class="text-center">HISTORY OF TMCS (TANZANIA MOVEMENT OF CATHOLIC STUDENTS) <br><br></h3>
        <div class="timeline-date">1887-1921: Pre-history</div>
        <div class="timeline-content">
          <h3>International Union of Catholic Students</h3>
          <p>
            “If Catholics were not the first to found an international student union, it seems at least that they were the first to have the idea.” In 1887, Baron George de Montenach of Fribourg, Switzerland, the president of the Swiss Students’ Society proposed the idea at the General Assembly of the Society to create an “International Union of Catholic Students.” On August 23rd, 1887, Montenach’s idea was accepted by the Society and it was approved by Pope Leo XIII. Georges de Montenach was chosen as President of the Union and traveled around Europe to visit with the existing student organizations and to help in the establishing of new ones.
          </p>
        </div>
        <div class="timeline-date">Foundational Pax Romana (TMCS) Congress July, 1921</div>
        <div class="timeline-content">
          <h3>Foundation of “Pax Romana” The International Confederation of Catholic Students</h3>
          <p>
            In 1921, the first Pax Romana Congress was held in Fribourg, Switzerland, with delegates from twenty-three countries. Pax Romana was established as an international secretariat with the motto "Pax Christi in Regno Christi," aiming to promote peace in a post-World War I world.
          </p>
          <p>
            Because of the efforts of Montenach and other leaders, over 7,000 students traveled to Rome in 1891 for a pilgrimage. As part of that event, 1,700 of them attended the assembly of the Union and 300 of them worked on drafting the statutes, with Fribourg as the headquarters. Unfortunately, political complications soon gave a mortal blow to this young Union. Different efforts, notably in 1893, 1900, and 1917, to give life again to the Union, were fruitless.
          </p>
        </div>
        <div class="timeline-date">1921</div>
        <div class="timeline-content">
          <h3>Foundation of “Pax Romana” The International Confederation of Catholic Students</h3>
          <p>
            In 1921, the first Pax Romana Congress was held in Fribourg, Switzerland, with delegates from twenty-three countries. Pax Romana was established as an international secretariat with the motto "Pax Christi in Regno Christi," aiming to promote peace in a post-World War I world.
          </p>
          <p>
            In 1920, the Swiss Students’ Society charged its president and secretary, Max Gressly and Father Tschuor, to deepen the contacts with other student groups, especially those in Holland and Spain. Dr. Gerard Brom, General Secretary of the Netherlands Catholic Associations of Students responded quickly to this effort and a coalition of students from the three neutral countries during the war (Switzerland, Holland, and Spain) was created.
          </p>
        </div>
        <div class="timeline-date">1925</div>
        <div class="timeline-content">
          <h3>Definition of Pax Romana</h3>
          <p>
            In 1925, Pax Romana was defined as “a Catholic Confederation of students from all over the world” with the aim to include and represent all legitimate forms of Catholic organizations in the university world and to serve as an instrument of coordination for all their varied activities, while leaving to each organization complete freedom to develop its own mystique and methods consistent with its own ends.
          </p>
        </div>
        <div class="timeline-date">Pax Romana Leadership</div>
        <div class="timeline-content">
          <h3>Leadership Roles</h3>
          <p>
            During the first twenty years, Abbé Joseph Gremaud of Switzerland played an important role in supporting the work of the movement as the second president of Pax Romana (1923-1924), the second Secretary General (1925-1946), and later the first International Chaplain of TMCS (1947-1953).
          </p>
          <!-- Add more details as needed -->
        </div>
      </div>

      <!-- Timeline Item 6 -->
      <div class="timeline-item">
        <div class="timeline-date">World War II</div>
        <div class="timeline-content">
          <h3>Impact of World War II</h3>
          <p>
            As tensions in Europe rose, Pax Romana expanded its roots to North America. In 1938, Pax Romana elected its first non-European president, Edward Kirchner of the United States. During World War II, Pax Romana played a crucial role in coordinating relief efforts and supporting students affected by the conflict.
          </p>
        </div>
        <div class="timeline-date">Relief Efforts</div>
        <div class="timeline-content">
          <h3>Post-War Relief Efforts</h3>
          <p>
            After World War II, Pax Romana continued its important work of providing relief to students adversely affected by the conflict. It collaborated with various organizations to provide assistance to student prisoners, refugees, and those suffering from tuberculosis. Pax Romana also played a role in opening university hostels and sending aid to countries in need.
          </p>
        </div>
        <div class="timeline-date">1946-2006</div>
        <div class="timeline-content">
          <h3>Collaboration with TYCS</h3>
          <p>
            At the 25th World Congress of Pax Romana in September of 1946, the International Young Catholic (Christian) Students (TYCS) was founded. Since then, TYCS and Pax Romana have had a close and dynamic working relationship.
          </p>
        </div>
        <div class="timeline-date">1947</div>
        <div class="timeline-content">
          <h3>Division of Pax Romana</h3>
          <p>
            At the 26th World Congress of Pax Romana in 1947, the organization officially divided itself into two autonomous branches: the International Movement of Catholic Students (TMCS) and the International Catholic Movement for Intellectual and Cultural Affairs (ICMICA). Despite the division, the two branches continued to work together and share a common secretariat until 1977.
          </p>
        </div>
        <div class="timeline-date">1946-1949</div>
        <div class="timeline-content">
          <h3>Founding of the UN</h3>
          <p>
            In 1949, Pax Romana (ICMICA-TMCS) was one of the first Non-Governmental Organizations (NGOs) granted Special Consultative Status with the United Nations Economic and Social Council. Since then, Pax Romana has played a key role in the United Nations and UNESCO, taking leadership roles in areas such as human rights, social development, and education.
          </p>
        </div>
      </div>

      <!-- Timeline Item 11 -->
      <div class="timeline-item">
        <div class="timeline-date">1950</div>
        <div class="timeline-content">
          <h3>Holy Year</h3>
          <p>
            During the Holy Jubilee Year of 1950, TMCS Pax Romana helped organize a pilgrimage to Rome for five thousand graduates and undergraduates.
          </p>
        </div>
        <div class="timeline-date">1950s and 1960s</div>
        <div class="timeline-content">
          <h3>Ecumenical and Interreligious Dialogue</h3>
          <p>
            TMCS played an important role in the development of ecumenical and interreligious dialogue during the 1950s and 1960s. It fostered relationships with the World Student Christian Federation (WSCF) and organized meetings that brought together leaders of different religious traditions to discuss common issues.
          </p>
        </div>
        <div class="timeline-date">1940s-1990s</div>
        <div class="timeline-content">
          <h3>Regionalization</h3>
          <p>
            TMCS focused on developing regional secretariats to better coordinate national movements at the regional level. The federations in Latin America set up a regional secretariat in 1941, and in 1952, created three sub-secretariats. Over time, TMCS established regional secretariats or coordinations in Asia Pacific, Pan Africa, and North America. Close relationships were also forged with TYCS in Europe, the Middle East, and Latin America, leading to joint secretariats and coordinations.
          </p>
        </div>
    <div class="timeline-date">1962-1965</div>
    <div class="timeline-content">
      <h3>Second Vatican Council</h3>
      <p>
        During the Second Vatican Council, TMCS and its affiliates played significant roles. Ramon Sugranyes de Franch, the Secretary General of Pax Romana ICMICA, was selected as one of the 12 Lay Auditors of the Council. Australian Rosemary Goldie, a former member of the international secretariat and founder of TMCS in Australia, was actively involved in the Council, becoming one of the few lay women to work in the Roman Curia later on. Additionally, John Courtney Murray, SJ, a former TMCS chaplain, along with former TMCS president Ed Kirchner, played crucial roles in drafting the Declaration of Religious Freedom.
      </p>
      <p>
        Prior to the Council, TMCS and its federations were already attuned to the signs of the times and were actively responding to them. The documents of the Council served to deepen TMCS' commitment to social justice, living out the Gospel in the modern world, fostering inter-religious and ecumenical dialogue, and emphasizing the important role of the laity in the Church.
      </p>
      <p>
        In 1963, during the Council, Giovanni Battista Montini was elected as Pope Paul VI. This was a significant moment for TMCS-Pax Romana, as Montini had previously served as the national chaplain for FUCI (TMCS Italy) in the 1920s. Montini's involvement in TMCS activities and his later position as Secretary of State ensured close relations with Pax Romana.
      </p>
    </div>
  </div>

<!-- Timeline Item 11 -->
<div class="timeline-item">
    <div class="timeline-date">1968</div>
    <div class="timeline-content">
      <h3>Student Revolution</h3>
      <p>
        European and American TMCS federations were greatly impacted by the May 1968 Revolution at the University of Paris and the anti-Vietnam War movements. Many students were empowered by these events, but sadly some of the national movements experienced a sharp decline.
      </p>
    </div>
    <div class="timeline-date">1960s and 1970s</div>
    <div class="timeline-content">
      <h3>Liberation Theology</h3>
      <p>
        In the 1960s and 1970s, TMCS, inspired by the Vatican Council, regional bishops meetings, the major social encyclicals and the experiences of its members, focused its attention on the poor and the marginalized.
      </p>
      <p>
        At this time, TMCS in Latin America was growing closer to TYCS. Many TMCS federations were also YCS groups in universities and were double affiliated to both movements. In Latin America, the two movements worked closely and played leading roles in Liberation Theology. Former TMCS member and Chaplain of TMCS Peru (UNEC), Fr. Gustavo Gutierrez, OP, had a significant impact on TMCS, the Church, and the world, especially Latin America, with his writing of "A Theology of Liberation" (1971). This foundational text of Liberation Theology referenced TMCS, TMCS national movements, and members several times.
      </p>
      <p>
        A significant moment in TMCS occurred in the 1971 IFA in Fribourg, which was held to celebrate TMCS' 50th anniversary. This 27th IFA focused on "Liberation – How?" and changed the methods of holding international meetings. Instead of hearing from eminent personalities and then having student workshops, the 1971 IFA began with the student experience and held study sessions drawing from Catholic Action methods.
      </p>
      <p>
        The next TMCS IFA took place in Lima in August of 1975 with 80 delegates from 32 national federations. This IFA used the same methodology as in 1971 and focused on the theme "Christian Commitment in a World in Crisis." The meeting reexamined the role and life of TMCS and committed itself to the preferential option for the poor.
      </p>
      <p>
        
      </p>
    </div>
    <div class="timeline-date">1970s</div>
    <div class="timeline-content">
      <h3>Liberation Theology in Asia</h3>
      <p>
        TMCS also impacted Liberation Theology in the Asian context, with Tissa Balasuriya, O.M.I of Sri Lanka, serving as an active chaplain to TMCS at the local and regional level. The principles of Liberation Theology resonated with many in Asia, where struggles against colonialism, poverty, and social injustice were prevalent. TMCS played a significant role in fostering dialogue and action around these issues in the region.
      </p>
    </div>
    <div class="timeline-date">1970s-Today</div>
    <div class="timeline-content">
      <h3>TMCS and TYCS Collaboration</h3>
      <p>
        In the 1970s, TMCS grew closer to TYCS, marking a period of enrichment and challenge. The two organizations established joint regions in Latin America, Europe, and the Middle East, fostering collaboration on various fronts. In 1978, TMCS held its IFA in conjunction with TYCS' World Council (WC) in Valladolid, Spain. During this event, the movements examined their relationship, acknowledging their commonalities and differences. As part of this collaboration, they adopted the TMCS-TYCS Common Pastoral Project for joint work in universities.
      </p>
      <p>
        This closer relationship led to changes in the structure of the TMCS International Secretariat, which moved from its long-time home in Fribourg to share space in Paris with TYCS.
      </p>
      <p>
        TMCS and TYCS continued to collaborate using a model of common study sessions and separate IFAs and WCs until 1991. At the IFA and WC in 1991 in Hong Kong, TMCS decided to replace the IFA with an International Committee. Similarly, TYCS decided to use the International Committee (IC) as its alternate to the World Council.
      </p>
      <p>
        In 1995, TMCS and TYCS organized the first International Committees (IC) in Yamoussoukro, Ivory Coast. Following the previous system, the ICs held common study sessions and separate statutory sessions.
      </p>
      <p>
        In August of 1999, TMCS and TYCS held the second ICs and adopted a Protocol of Collaboration between the two organizations. Subsequently, in August of 2003, TMCS and TYCS held the third ICs in Barcelona under the theme of "Students Ready for Change."
      </p>
    </div>
  </div>

<!-- Timeline Item 16 -->
<div class="timeline-item">
    <div class="timeline-date">Other Important Moments</div>
    <div class="timeline-content">
      <h3>Key Milestones Beyond Those Detailed</h3>
      <p>
        In addition to the events highlighted in this timeline, there are several other significant moments in the history of TMCS:
      </p>
      <ul>
        <li><strong>Publications:</strong> TMCS has produced numerous publications addressing various topics related to social justice, spirituality, and the role of students in the modern world. These publications have served as resources for students and activists globally.</li>
        <li><strong>Role in the Vatican:</strong> TMCS has played an active role in the Vatican, contributing to discussions and initiatives related to youth, education, and social justice. This involvement includes participation in events such as World Youth Days, where TMCS representatives engage with young people from around the world.</li>
       </ul>
      <p>
        These moments, among others, reflect the ongoing commitment of TMCS to its mission of empowering students, promoting social justice, and fostering dialogue and collaboration across diverse communities.
      </p>
      <p>
        You can read also the history of <a href="{% url 'historia_ya_imcs' %}" class="btn btn-primary col-md-2">IMCS here</a>
      </p>
    </div>
  </div>
    </div>
  </div>
</div>

{% endblock content%}