{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5">
        {% if user.is_authenticated and user.is_staff %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.media }}
                    <div class="col-md-10">
                        {{ form.date.label_tag }}
                        {{ form.date }}
                    </div>
                    <div class="col-md-10">
                        <br>
                        {{ form.dominika.label_tag }}
                        {{ form.dominika|safe }}
                    </div>
                    <div class="col-md-10">
                        <br>
                        {{ form.somo_la1.label_tag }}
                        <br>
                        {{ form.somo_la1|safe }}
                    </div>
                    <div class="col-md-10">
                        <br>
                        {{ form.somo_la2.label_tag }}
                        <br>
                        {{ form.somo_la2|safe }}
                    </div>
                    <div class="col-md-10">
                        <br>
                        {{ form.injili.label_tag }}
                        <br>
                        {{ form.injili|safe }}
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            {% else %}
                <div class="container mt-5 col-md-4 text-center">
                    <div class="alert alert-danger" role="alert">
                        You do not have permission to access this page.
                        <p>Please <a href="{% url 'login' %}">log in if you have permissions</a> to create new entries.</p>
                    </div>
                </div>
            {% endif %}
    </div>
{% endblock content %}
