{% extends 'base.html' %}
{% block content %}
<style>
    .container {
            max-width: 800px;
            margin: auto;
            margin-top: 50px;
        }
</style>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">SWALI:</h5>
            <p class="card-text"> {{ MaswaliNaMajibu.swali|safe }}</p>

            <h5 class="card-title">JIBU:</h5>
            <p class="card-text">{{ MaswaliNaMajibu.jibu|safe }}</p>
        </div>
    </div>
    <div class="mt-4">
        <a href="{% url 'maswalinamajibu-list' %}" class="btn btn-primary">Back to Questions</a>
        {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'maswalinamajibu-update' pk=MaswaliNaMajibu.pk %}" class="btn btn-warning">Edit</a>
        <form action="{% url 'maswalinamajibu-delete' pk=MaswaliNaMajibu.pk %}" method="post" class="d-inline">
            {% csrf_token %}
            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}