{% extends 'base.html' %}
{% block content %}
  <div class="container col-md-7">
    <h2>Create Questions</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.media }}
      {{ form.as_p }}
      <div class="row">
        {% if user.is_authenticated and user.is_staff %}
        <button class="btn btn-primary mx-4" type="submit">Create Question</button>
        {% endif %}
        <a class="btn btn-primary mx-4 mt-2" href="{% url 'maswalinamajibu-list' %}">Back to Questions</a>
      </div>
    </form>
  </div>
{% endblock %}
