{% extends 'base.html' %}
{% block content %}
<style>
    .card {
        min-height: 100%;
    }
    .card-text b{
        font-size: 23px;
    }
    h5.card-title{
        color: rgb(15, 211, 129);
    }
    a{
        text-decoration: none;
    }
</style>
<div class="container mt-5">
    {% if user.is_authenticated and user.is_staff %}
    <a href="{% url 'maswalinamajibu-create' %}" class="btn btn-success mt-3 mb-3">Add New Question</a>
    {% endif %}
    <div class="row">
        {% for item in MaswaliNaMajibu %}
            <div class="col-md-4 mb-4">
                <a href="{% url 'maswalinamajibu-detail' pk=item.pk %}" style="text-decoration: none; color: inherit;">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <h5 class="card-title"><b> Swali: </b> {{ item.swali|safe }}</h5>
                            </div>
                            <div>
                                {% if item.jibu|length > 100 %}
                                    <p class="card-text"><b>Jibu:</b>{{ item.jibu|safe|slice:":300" }}... <a href="{% url 'maswalinamajibu-detail' pk=item.pk %}" style="font-size: 20px;" class="btn btn-info btn-sm">Read More</a></p>
                                {% else %}
                                    <p class="card-text"><b>Jibu:</b>{{ item.jibu|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
