{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  {% if user.is_authenticated and user.is_staff %}
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h2>Update Rozary</h2>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.media }}
          {{ form.as_p }}
          <div class="d-flex justify-content-center">

            <button class="btn btn-primary" type="submit">Update Rozary</button>
            <a class="btn btn-primary mx-2" href="{% url 'rozary-detail' pk=rozary.pk %}">Back to Rozary Detail</a>
            <a class="btn btn-primary mx-2" href="{% url 'rozary-list' %}">Back to Rozaries List</a>
          </div>
          <div class="mt-4"></div>
        </form>
      </div>
    </div>
  {% else %}
    <div class="row justify-content-center">
      <div class="col-md-10">
        <p class="mt-5 text-center">Sorry, you do not have permission to update Rozary.</p>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
