{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  {% if user.is_authenticated and user.is_staff %}
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Confirm Deletion</h1>
        <p class="card-text">Are you sure you want to delete the Saint <strong>{{ saint.name_of_saint }}</strong>?</p>
        <form method="post">
          {% csrf_token %}
          <button class="btn btn-danger" type="submit">Confirm Delete</button>
        </form>
        <br>
        <a class="btn btn-primary" href="{% url 'saintlife-detail' pk=saint.pk %}">Cancel and Back to Saint Detail</a>
        <br>
        <a class="btn btn-primary" href="{% url 'saintlife-list' %}">Cancel and Back to Saints List</a>
      </div>
    </div>
  {% else %}
    <div class="d-flex justify-content-center">
      <div class="alert alert-danger col-md-5" role="alert">
        You do not have permission to delete this Saint Life article.
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
