{% block content %}
    <title>{{ saint.name_of_saint }}</title>
    <!-- Add your CSS styles here if needed -->
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
        * {
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }
        body {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h2 style="text-align: center; padding: 10px; font-size: 24px;"><strong>{{ saint.name_of_saint }}</strong></h2>
    <img src="{{ absolute_image_url }}" alt="{{ saint.name_of_saint }} Image" style="max-width: 95%; height: auto;">
    <p style="max-width: 95%; height: auto; font-size: 20px;" class="pt-5"> {{ saint.biography | safe}}</p>
</body>
{% endblock %}