{% extends 'base.html' %}

{% block content %}
<!-- Include Slick CSS and JS in your template -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<!-- Your template code -->
<div class="container">
  <h2>{{ memory.event_name }}</h2>
  <div class="memory-slider">
    {% for image in memory.event_images.all %}
      <div><img src="{{ image.image.url }}" alt="{{ memory.event_name }} Image"></div>
    {% endfor %}
  </div>
  <p>{{ memory.description }}</p>
</div>

<script>
  $(document).ready(function(){
    $('.memory-slider').slick({
      dots: true,
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear'
    });
  });
</script>

{% endblock content %}