<!-- kwaya_member_list.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated and user.is_staff %}
    {% if user.is_mwenyekiti_moyo_mtakatifu_wa_Yesu or user.is_katibu_moyo_mtakatifu_wa_Yesu or user.is_mhazini_moyo_mtakatifu_wa_Yesu %}
        <div class="row justify-content-center align-items-center" style="padding-bottom: 20px; padding-top: 20px;">
            <h2 class="col-md-6 text-center">Members Moyo Mtakatifu wa Yesu, Saint Alberto The Great.</h2>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    {% if moyomtakatifuwaYesu_members %}
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>MEMBER ID</th>
                                    <th>FIRST NAME</th>
                                    <th>LAST NAME</th>
                                    <th>COURSE</th>
                                    <th>STUDENT PHONE NUMBER</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in moyomtakatifuwaYesu_members reversed %}
                                    <tr>
                                        <td>JMT. ANTHONY WA PADUA/FST/MAST/2024{{ member.id }}</td>
                                        <td>{{ member.first_name }}</td>
                                        <td>{{ member.last_name }}</td>
                                        <td>{{ member.course }}</td>
                                        <td>{{ member.namba_ya_mwanafunzi }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                    <div class="container">
                        <p class="mt-5 text-center">No members found in Moyo Mtakatifu wa Yesu</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        
    {% else %}
        <div class="row justify-content-center align-items-center">
            <h2 class="mt-5 text-center">Access Denied for you, you can't get access until permitted</h2>
        </div>
    {% endif %}
{% else %}
    <div class="row justify-content-center align-items-center">
        <h2 class="mt-5 text-center">Access Denied. You must be logged in as staff.</h2>
    </div>
{% endif %}
{% endblock %}
